body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin: 0px;
}
h1 {
  font-size: 50px;
  margin: 20px;
}
h3 {
  font-size: 20px;
  margin: 25px;
}
p {
  margin: 25px;
  text-align: justify;
}
.flexiblecontainersection {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 80%;
  padding: 5%;
}
.half-width img {
  width: 60%;
  padding: 5%;
}
.hire_me {
  text-decoration: none;
  background-color: rgb(235, 42, 8);
  padding: 10px 20px;
  border-radius: 5px;
  margin: 25px;
  background-image: linear-gradient(rgb(248, 71, 39), orange);
  font-weight: 700;
}
.top_banner {
  background-image: url(top-banner.png);
  background-repeat: no-repeat;
}
.dream_big {
  background-image: url(dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
h2 {
  margin: 25px;
}
section {
  margin-bottom: 100px;
}
.box-shadow {
  width: 40%;
  margin-right: 5%;
  margin-left: 5%;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px 20px turquoise;
}
.experience {
  background-image: url(exp-bg.png);
  background-repeat: no-repeat;
  background-position: left;
}
#web-developer-baby {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(4, 66, 66), rgb(9, 9, 170));
  border-image-slice: 1;
}
#web-developer-full {
  border-left: 7px solid;
  border-image: linear-gradient(rgb(235, 142, 4), rgb(255, 14, 74));
  border-image-slice: 1;
}
footer p {
  text-align: center;
}
